In [15]:
import pandas as pd
import re

In [231]:
df = pd.read_csv('../../data/dataset_from_json.csv')
df.head()

      words  sentence #        tag
0       CPT           0  Incoterms
1    LAHORE           0  Incoterms
2   AIRPORT           0  Incoterms
3  PAKISTAN           0  Incoterms
4       QTY           0          O

In [232]:
df.iloc[115,:]

words         31.10.2019
sentence #             5
tag                    O
Name: 115, dtype: object

In [233]:
combine = lambda x: ' '.join(x['words'])

In [234]:
words = df.groupby(df['sentence #']).apply(combine)
words

sentence #
0       CPT LAHORE AIRPORT PAKISTAN QTY 1 PC OF MULTI ...
1       SERVICES AND MAINTENANCE AS PER BENEFICIARY'S ...
2       SERVICES MAINTENANCE AS PER BENEFICIARY'S PROF...
3       CPT LAHORE AIRPORT PAKISTAN PHARMACEUTICAL ALL...
4       CFR KEAMARI KARACHI SEAPORT/PORT QASIM PAKISTA...
                              ...
1615    CFR KARACHI PORT QTY 1000 KGS MUSK AMBRETTE (C...
1616    BY VESSEL (1) BENEFICIARY'S MANUALLY SIGNED OR...
1617    CFR KARACHI PORT / PORT QASIM PAKISTAN (1) QTY...
1618    CFR KARACHI SEAPORT.....TEST GOODS ARE IMPORTE...
1619    FCA HONG KONG QTY 03 PCS USG6630E-ACFIREWALL A...
Length: 1620, dtype: object

In [235]:
# example
words[5]

"CFR KARACHI SEAPORT PAKISTAN DISCOFIX / DOSIFIX AS PER BENEFICIARY'S PROFORMA INVOICE NO. 1807391726 DATED 31.10.2019"

In [236]:
find_special = lambda x: '58/60' in x #'CFR KARACHI PORT/ PORT QASIM TOTAL QUANTITY 21 MT PARAFFIN WAX 58/60 FULLY REFINED AT USD 950.00 PER M/TON AS PER INDENT NO. SBR/DEPT.C/581/2019 DATED 19.11.19 OD M/S S.B.R. AND CO. KARACHI PAKISTAN'
find_special = lambda x: '950.00' in x 

specials = words[words.apply(find_special)]
specials

sentence #
177     CFR KARACHI PORT 1) QTY 49.50 M/TONS POLYPROPY...
201     CFR PORT QASIM PAKISTAN 1- QTY 1800.00 KGS EXO...
226     CFR ANY PORT IN PAKISTAN QTY 247.50 M/TON PP 5...
228     CFR ANY PORT IN PAKISTAN QTY 247.50 M/TON PP 5...
287     CFR KARACHI PORT/ PORT QASIM TOTAL QUANTITY 21...
608     CFR KEAMARI KARACHI PORT PAKISTAN QTY 25.50 M....
615     CFR KARACHI SEAPORT TOTAL QUANTITY 21 MT PARAF...
763     CFR KEAMARI KARACHI PORT PAKISTAN QTY 76.50 M....
843     CFR KEAMARI KARACHI SEAPORT PAKISTAN 1-QTY 153...
849     CFR KEAMARI KARACHI PORT PAKISTAN 1- QTY 76.50...
947     CFR KARACHI SEAPORT PAKISTAN MACHINERY FOR DAI...
1360    CFR KARACHI PORT PAKISTAN 1-QTY 4 PCS OF RICE ...
1469    CFR ANY PORT IN PAKISTAN (1) QTY 792.00 M/TONS...
1531    CFR KEAMARI KARACHI PORT PAKISTAN QTY 76.50 M....
dtype: object

In [237]:
# we need \S instead of \w because we have dates: 31.10.2019 which need to be extracted as a single entity

# EXAMPLE
# extract_containing_numbers = lambda x: re.findall(r'\d+\S+', x)
# extract_containing_numbers
# words.apply(extract_containing_numbers).tolist()

In [238]:
#extract the NUMBERS, INCOTERMS and DATES for better tokenisation
extract_numbers = lambda x: re.findall(r'\d+\S+', x)
list_words = words.apply(extract_numbers).tolist()
flat_list = [el for l in list_words for el in l]

In [246]:
words
words.apply(extract_numbers).tolist()
len(flat_list)

11140

In [66]:
numbers = set(flat_list)
numbers

# we now need to remove ONLY the . at the end
numbers = [n[:-1] if n[-1] == '.' else n for n in list(numbers)]

Now we need to classify them in 3 categories: 
1. \<number\> for Quantity and UnitPriceAmount example 2000
2. \<ID\> for INCOTERMS example 2019H29Q2
3. \<DATE\> for improved tokenisation

Why? We have a new date everyday, and if we include every day as another date in the vocabulary we might think eroneously that we have a large vocabulary, when in fact all we have is a lot of numbers, ids and dates.

In [117]:
nrs = pd.Series(numbers) #convert to Series for ease of use
nrs.head(), nrs.shape

(0       58/60
 1       84.65
 2     22.4785
 3        9299
 4    29.11.19
 dtype: object,
 (5310,))

I am speculating that

1. Quantity contains only Integer values: 1000, 200, 7000
2. UnitPriceAmount contains Float values: 250.00, 293.11
3. Dates have a specific type: xx/xx/xxxx or xx-xx-xxxx
4. Everything else is Incoterms

In [156]:
# Quantity
def convert_to_int(x):    
    try:
        int(x)
        return True
    except ValueError:
        return False

quantities = nrs.apply(convert_to_int)

In [154]:
# UnitPriceAmount
def convert_to_float(x):    
    try:
        if not convert_to_int(x):
            float(x)
        else:
            return False

        return True
    except ValueError:
        return False

units = nrs.apply(convert_to_float)

In [209]:
# Dates
def convert_to_ids(x):    
    try:
        is_date = re.findall('^\d{2}(\.|\/)\d{2}(\.|\/)\d{4}$', x)
        if len(is_date) == 0:
            return False
        else:
            return True
    except ValueError:
        return False

dates = nrs.apply(convert_to_ids)

In [210]:
nrs[dates]

8       19.12.2019
26      01.11.2019
57      08.01.2019
116     12.09.2019
218     09/11/2019
           ...
5085    23.09.2019
5142    03.03.2020
5241    26.12.2019
5248    05.08.2019
5275    17/12/2019
Length: 143, dtype: object

In [228]:
# the rest are incoterms
incoterms = ~quantities & ~units & ~dates
incoterms

0        True
1       False
2       False
3       False
4        True
        ...
5305     True
5306    False
5307     True
5308    False
5309     True
Length: 5310, dtype: bool

In [229]:
quantities.sum() + units.sum() + dates.sum() + incoterms.sum(), nrs.shape[0]

(5310, 5310)

In [249]:
nrs[quantities].tolist()

['9299',
 '8600',
 '1030',
 '20016886',
 '191220',
 '19112601',
 '20200239',
 '300060',
 '307',
 '72',
 '3406',
 '1150',
 '58800',
 '701',
 '20191230',
 '636191013',
 '8158052384',
 '1040',
 '204',
 '4246',
 '23478',
 '46356242',
 '3100049685',
 '990',
 '191219',
 '1523121',
 '19',
 '001',
 '05870',
 '2013',
 '19001340',
 '004052',
 '13000',
 '191124',
 '1840',
 '9003',
 '200117',
 '19000',
 '2644',
 '11250',
 '240',
 '19001500',
 '15000',
 '5040',
 '2018',
 '802026895',
 '6400',
 '8102856808',
 '9400',
 '9228',
 '28517',
 '72000',
 '17860',
 '5100531666',
 '525610',
 '8020',
 '190121401',
 '12089',
 '20030000001353',
 '10200',
 '41362',
 '17',
 '4400005086',
 '78991200',
 '725000',
 '993143007',
 '1110000',
 '132000',
 '315',
 '12000',
 '6174071779',
 '1016',
 '7280044634',
 '11',
 '20001',
 '3131',
 '003',
 '20011301',
 '23171',
 '1108800',
 '320',
 '294',
 '6260',
 '2150',
 '4400025595',
 '003576',
 '19222037',
 '73',
 '2600',
 '1030049',
 '11171040',
 '025298',
 '9113001',
 '1000',
 '51',
 '19200',
 '1497',
 '308644',
 '4614',
 '42672',
 '520',
 '0219031',
 '190110701',
 '23267',
 '513031',
 '4065',
 '20002681',
 '03',
 '1069200',
 '3695',
 '6769',
 '6174265027',
 '127',
 '12918',
 '940',
 '04660',
 '191121',
 '458',
 '192467',
 '3471022252',
 '19080220',
 '290052944',
 '7280044631',
 '4554003583',
 '7895',
 '330000',
 '003301',
 '5100532127',
 '82500',
 '20192302',
 '19222103',
 '1450',
 '191205',
 '4554003612',
 '18500',
 '40015188',
 '4509365110',
 '11000',
 '3100049180',
 '1017',
 '2091203',
 '52500',
 '192895601',
 '6200004451',
 '5100531527',
 '5100531729',
 '0009',
 '46',
 '19300',
 '4102003703',
 '2289',
 '5753666',
 '531',
 '869',
 '2710',
 '191207',
 '500760',
 '4400025596',
 '21396',
 '6419',
 '4405',
 '23206',
 '1901262',
 '191128',
 '6173897157',
 '245',
 '20192171',
 '90726159',
 '23224',
 '2405',
 '1132020',
 '18192',
 '201912010',
 '280000',
 '23438',
 '6420',
 '464',
 '612',
 '8500',
 '004487',
 '0000491445',
 '1012',
 '26',
 '20191204',
 '593',
 '20192288',
 '2120304787',
 '17600',
 '220',
 '30991880',
 '035051',
 '18',
 '91008810',
 '20191211',
 '480',
 '190927',
 '30600',
 '20002838',
 '3944',
 '3100049177',
 '20200275',
 '5100531837',
 '18000',
 '26732',
 '62',
 '8899',
 '711',
 '2040',
 '802027054',
 '02',
 '20192284',
 '170002019',
 '545',
 '4400005156',
 '4500',
 '66',
 '5100531566',
 '100000',
 '547309',
 '157000',
 '1502',
 '1911011',
 '0130',
 '3960000396',
 '3960000371',
 '5800',
 '50026757',
 '150227',
 '014',
 '45',
 '5005',
 '32774',
 '202004',
 '9029',
 '26000',
 '19760',
 '6200004456',
 '12',
 '20010901',
 '201119',
 '1750',
 '101241360',
 '3100049570',
 '21500',
 '20191045',
 '475',
 '27',
 '616',
 '1705',
 '4400005097',
 '8160',
 '1715',
 '682',
 '670905',
 '148',
 '4201110493',
 '1000032305',
 '01912002736',
 '035050',
 '6174129798',
 '110000',
 '0081',
 '7091',
 '20192216',
 '1902',
 '2020036',
 '6100',
 '4400025553',
 '0190145',
 '4955114189',
 '7',
 '1119011355',
 '8380053',
 '15700',
 '90000129',
 '6174075539',
 '6173197964',
 '19121611',
 '20371000',
 '690',
 '1807385891',
 '16511',
 '38',
 '2012',
 '6',
 '122750',
 '6174131925',
 '3125',
 '1912023',
 '474',
 '16320',
 '1052',
 '004545',
 '004546',
 '4400025613',
 '33191126001',
 '827518',
 '7280045098',
 '41600',
 '6174132326',
 '19110285',
 '300',
 '11500',
 '608',
 '20133798',
 '191228',
 '1910018',
 '60000',
 '20387',
 '179',
 '5100532128',
 '640',
 '2019103',
 '1720',
 '58000',
 '902',
 '20200017',
 '219452',
 '4400025576',
 '20200114',
 '009',
 '219744',
 '6000125076',
 '7422258',
 '1460',
 '440',
 '700000',
 '1250',
 '75',
 '11513',
 '215',
 '20010',
 '9304804468',
 '2150134100',
 '202003',
 '19147',
 '7075',
 '24',
 '141600',
 '65',
 '3032925',
 '20200101',
 '4400025531',
 '4502010798',
 '448',
 '3471022249',
 '21240546',
 '20200007',
 '1276416',
 '346',
 '802026972',
 '507',
 '309993',
 '577',
 '54432',
 '7000',
 '112000',
 '4400025660',
 '4400005130',
 '4400025649',
 '6174074794',
 '543',
 '20200018',
 '1911004',
 '10373',
 '19142',
 '0083451',
 '92020',
 '58500',
 '2288',
 '285305',
 '450',
 '031',
 '080',
 '2270',
 '1912170943',
 '12125',
 '880',
 '1086486263',
 '1142',
 '0131',
 '5100531754',
 '17478',
 '2019122701',
 '700',
 '011939',
 '2334',
 '67693',
 '3033208',
 '946',
 '90',
 '17000',
 '5011533',
 '22000',
 '004237',
 '20191119',
 '584',
 '20200261',
 '9180',
 '5100531675',
 '12200019',
 '2782081',
 '288',
 '4505056149',
 '16250',
 '2191217',
 '191218',
 '124474',
 '3100049569',
 '620',
 '2200721',
 '535000',
 '3484129',
 '32000',
 '00308029',
 '2019',
 '8810',
 '6200004519',
 '20191207',
 '1500',
 '7683',
 '686',
 '192693',
 '59',
 '1075',
 '69615',
 '7280044472',
 '1300',
 '20010802',
 '000712',
 '013',
 '9331',
 '1119011382',
 '15',
 '201316',
 '004188',
 '12077',
 '6629',
 '765',
 '535',
 '3100049179',
 '131',
 '340',
 '3100049561',
 '2100',
 '627',
 '2230',
 '05573',
 '3100049563',
 '2250',
 '2475',
 '18228',
 '060533',
 '5101',
 '460',
 '2872',
 '144000',
 '7700',
 '4400025603',
 '1340',
 '20191226',
 '80000',
 '36',
 '7280044426',
 '300000',
 '175',
 '367',
 '00356789',
 '171',
 '914',
 '8000',
 '20084895',
 '4400025685',
 '4201110650',
 '12002555',
 '3100049571',
 '90997',
 '4955343299',
 '802026923',
 '18285',
 '960',
 '1400',
 '1290',
 '10297',
 '1990',
 '066151',
 '19110283',
 '6174074700',
 '9662',
 '139',
 '1950',
 '2080',
 '3471022002',
 '069',
 '23384',
 '20192274',
 '112320',
 '8400',
 '580',
 '19050',
 '1546',
 '123843',
 '19005366',
 '959001',
 '6076',
 '42',
 '5026',
 '3960000146',
 '2004',
 '802026950',
 '124067',
 '5018',
 '954',
 '88276',
 '20191205',
 '3600',
 '201902129',
 '5101503123',
 '585',
 '32',
 '35338',
 '122619',
 '9200035709',
 '2000000',
 '193184301',
 '2125',
 '00952',
 '3568503',
 '37',
 '244',
 '201911200001',
 '3650',
 '14644',
 '200114',
 '19008',
 '1796',
 '11192019',
 '9121201',
 '5100531858',
 '12500',
 '1911001',
 '53700',
 '191127',
 '100',
 '5100531908',
 '20011001',
 '32780',
 '53',
 '1530',
 '25240',
 '5100532168',
 '025302',
 '1050',
 '89',
 '24750',
 '20192137',
 '20008185',
 '125',
 '0000931',
 '20192168',
 '760',
 '193531497',
 '20200274',
 '21',
 '191103',
 '13428504',
 '10400',
 '1692',
 '20191206',
 '109000',
 '305',
 '21800',
 '6200004440',
 '292019',
 '191118',
 '79000',
 '7344',
 '67560',
 '20192330',
 '7280044635',
 '790',
 '00368459',
 '405',
 '410',
 '2000',
 '6596',
 '125421',
 '900',
 '200000',
 '190123901',
 '2410',
 '6174075930',
 '4400025645',
 '2601900',
 '19027',
 '303111',
 '1893',
 '5',
 '9970',
 '4900005077',
 '4400005088',
 '8040',
 '201925',
 '4554003563',
 '336000',
 '4400025616',
 '13',
 '92988',
 '2950',
 '6006',
 '407700',
 '150223',
 '1019016',
 '201905',
 '151200',
 '3300',
 '90000',
 '00368449',
 '066',
 '24000',
 '6486',
 '802026637',
 '00343899',
 '38000',
 '2310000',
 '555',
 '56',
 '20191202002',
 '6173200335',
 '9',
 '1440',
 '33190218',
 '191213',
 '20192377',
 '970',
 '71',
 '4300',
 '20190217',
 '06',
 '244000',
 '148400',
 '5600',
 '3001',
 '15200',
 '237',
 '7047',
 '003370',
 '363',
 '7079',
 '0153',
 '1014',
 '31102019',
 '5100532115',
 '400954',
 '44',
 '1102300',
 '00367699',
 '98',
 '92',
 '2200078',
 '6174111158',
 '99',
 '5500',
 '6000',
 '4867752',
 '67692',
 '10000',
 '125000',
 '4000',
 '114',
 '10500',
 '21000',
 '1220',
 '19122526',
 '1067',
 '339',
 '20191109',
 '091219',
 '11057619',
 '513',
 '20192371',
 '180113',
 '160',
 '030',
 '20200108004',
 '1033',
 '1140',
 '5014',
 '0211',
 '192895701',
 '224400',
 '32635',
 '9155',
 '2175',
 '13920',
 '5100531705',
 '035353',
 '80',
 '6240',
 '15120',
 '09564',
 '7425',
 '4955344339',
 '435',
 '816',
 '0374',
 '2540',
 '1041',
 '41',
 '05714',
 '1911',
 '1000099419',
 '192895301',
 '2019314',
 '4400025666',
 '3000',
 '108',
 '20200265',
 '13234',
 '1350',
 '1560',
 '266',
 '4601',
 '90131',
 '19120301',
 '576',
 '175000',
 '01192655',
 '20190902',
 '19150',
 '4982',
 '123',
 '890',
 '20192170',
 '20200211',
 '4',
 '219111602',
 '4400025561',
 '5100531907',
 '1219',
 '290052714',
 '75000',
 '55000',
 '2006006',
 '1520000',
 '20500',
 '8100505012',
 '54',
 '191112',
 '882',
 '68',
 '4400025497',
 '6174074888',
 '5400',
 '20200116',
 '403',
 '112',
 '144',
 '290053060',
 '88',
 '3100049562',
 '003328',
 '1700',
 '09',
 '08086',
 '84',
 '034893',
 '34',
 '876',
 '2500',
 '007619',
 '2200034198',
 '22500',
 '185976',
 '400',
 '20192310',
 '20191101',
 '8330',
 '996',
 '1',
 '1175',
 '29',
 '33902',
 '2200024960',
 '67529',
 '62000',
 '23275',
 '33190221',
 '830',
 '5010503118',
 '4400005081',
 '189',
 '211',
 '29112019001',
 '20282829',
 '20009',
 '48',
 '540',
 '7932',
 '10007',
 '120000',
 '8850',
 '6139',
 '2300',
 '13',
 '19122601',
 '1523120',
 '40014874',
 '6000759440',
 '19620',
 '368',
 '2377',
 '23263',
 '34920',
 '5012',
 '2744',
 '22',
 '710',
 '4400025245',
 '2017',
 '985',
 '560',
 '156',
 '97',
 '496',
 '3500',
 '042',
 '1911095',
 '160000',
 '133',
 '1912052',
 '101239628',
 '0000699368',
 '9121801',
 '3',
 '800',
 '6236',
 '43914',
 '95109645',
 '20191223',
 '123842',
 '8102856790',
 '3200',
 '50400',
 '400006775',
 '5350',
 '2011',
 '5100532009',
 '7196',
 '58400',
 '12091',
 '802026949',
 '101076',
 '192895401',
 '4509361309',
 '195',
 '1511039833',
 '99512',
 '44000',
 '190006',
 '12250',
 '3471022001',
 '1585',
 '20191218',
 '200101',
 '1309',
 '25200',
 '983',
 '19193',
 '20191247',
 '698063',
 '254400',
 '7365000',
 '193184401',
 '20000',
 '875289',
 '1100',
 '24640',
 '8502',
 '0010129687',
 '5230',
 '30140494',
 '125649',
 '2020',
 '7368',
 '3100049282',
 '9943000184',
 '1520',
 '3700',
 '1119011667',
 '200110',
 '09563',
 '5856000302',
 '102',
 '1048',
 '1439',
 '7205',
 '707934',
 '40015101',
 '010060',
 '200113',
 '20200',
 '6000759438',
 '4400025659',
 '180',
 '20193264',
 '19120048',
 '6000763988',
 '5100532183',
 '45000',
 '398',
 '15471',
 '191129',
 '200107',
 '1807564243',
 '661822',
 '4201110736',
 '61000',
 '28750',
 '124',
 '534',
 '19067',
 '2462',
 '86',
 '26600',
 '19229',
 '33200002',
 '82348',
 '790005454',
 '50000',
 '678',
 '19557',
 '5100531545',
 '860',
 '600',
 '33',
 '3584',
 '1903',
 '191114',
 '1245',
 '19294',
 '5079786',
 '1807391726',
 '2997',
 '2412',
 '99001',
 '24612',
 '92200107',
 '52',
 '20191223003',
 '000144',
 '1912251612',
 '2020010231',
 '69',
 '6900',
 '23122019',
 '130',
 '20',
 '33894',
 '01284',
 '12240',
 '67656',
 '90059585',
 '161',
 '47',
 '7174010417',
 '7280044632',
 '10107',
 '802026951',
 '202001013',
 '00347909',
 '32982',
 '702395',
 '047',
 '21003860',
 '4954603548',
 '416',
 '7578',
 '100835',
 '251',
 '303113',
 '004488',
 '50',
 '150000',
 '930',
 '10050',
 '617',
 '573196',
 '6520',
 '1828',
 '31588',
 '2009',
 '158',
 '4597',
 '2020001',
 '35000',
 '3100049281',
 '20100005',
 '00351839',
 '1160',
 ...]

In [260]:
dictionary = {}

def append_to_dict(key, value):
    dictionary[key] = value


nrs[quantities].apply(append_to_dict, args=('<QUANTITY>',))
nrs[units].apply(append_to_dict, args=('<UNITPRICEAMOUNT>',))
nrs[dates].apply(append_to_dict, args=('<DATE>',))
nrs[incoterms].apply(append_to_dict, args=('<INCOTERMS>',))

0       None
4       None
5       None
10      None
11      None
        ...
5296    None
5300    None
5305    None
5307    None
5309    None
Length: 2177, dtype: object

In [267]:
# now we need to map through the dataset and change the values.

def mapping(word):
    if word in dictionary.keys():
        return dictionary[word]
    return word

df['new_mappings'] = df['words'].apply(mapping)

In [273]:
df[(df['words'] != df['new_mappings'])]

             words  sentence #              tag       new_mappings
5                1           0         Quantity         <QUANTITY>
23     201912Q016H           1                O        <INCOTERMS>
25      05.12.2019           1                O             <DATE>
34        20193264           2                O         <QUANTITY>
36      03.12.2019           2                O             <DATE>
...            ...         ...              ...                ...
60300   01-04-2019        1617                O        <INCOTERMS>
60322           03        1619         Quantity         <QUANTITY>
60327      6790.56        1619  UnitPriceAmount  <UNITPRICEAMOUNT>
60337       900659        1619                O         <QUANTITY>
60339     03.06.19        1619                O        <INCOTERMS>

[8731 rows x 4 columns]