In [1]:
import pandas as pd
import re

In [2]:
raw_df = pd.read_csv('../../data/raw_dataset_append.csv', header=None)
raw_df.head(10)
raw_df = raw_df[0]
raw_df

0     COPPER CLAD LAMINATE AS PER PROFORMA INVOICE N...
1     + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
2     + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
3     + BRIDGESTONE BRAND TIRE(S) AND O-RING(S). + A...
4     LEATHER MEN'S AND/OR LEATHER LADIES' GARMENTS ...
5     LEATHER MEN'S AND/OR LEATHER LADIES' GARMENTS ...
6     QUANTITY 90.000 M(+/-10 O/O) DESCRIPTION POLIE...
7     QUANTITY 90.000 M(+/-10 O/O) DESCRIPTION POLIE...
8     TOYS AS PER PROFORMA INVOICE NO. TSO1801008 AC...
9     TOYS AS PER PROFORMA INVOICE NO. TSO1801008 AC...
10    COPPER CLAD LAMINATE AS PER PROFORMA INVOICE N...
11    MULTIPURPOSE CLOTH 38X38CM 392860 PINK 141,000...
12    PRODUCT: HYDROUS ETHANOL QUANTITY: 2'500.000 M...
13    DESCRIPTION OF GOODS: COMMODITY: VCM QUANTITY:...
14    25,000 METRIC TONS PLUS OR MINUS TEN PCT OF RU...
15    20,000 MTS MIN / MAX RAW CANE SUGAR OF FAIR AV...
16    NO. 1 GUATEMALAN CANE RAW SUGAR IN BULK, AVERA...
17    COMMODITY: CUMENE QUANTITY: 1500MT PRICE TERM:...
18    ELECTROLYTIC COPPER CATHODES . DELIVERY TERM: ...
19    +QUANTITY:60,000.METRIC TONS UP TO 10 PCT PLUS...
20    220MT TOLUENE AT THE RATE OF USD 1151.68 PER M...
21    RUSSIAN MILLING WHEAT IN BULK  QUANTITY : 3.00...
22    EX-BONDED WAREHOUSE KAOHSIUNG + PRIMARY UNALLO...
23    2000.00 WMT (PLUS OR MINUS 10 PCT) OF LEAD CON...
24    PRODUCT: HYDROUS ETHANOL QUANTITY: 2'500.000 M...
25    DESCRIPTION OF GOODS: COMMODITY: VCM QUANTITY:...
26    FOB DJIBOUTI / ETHIOPIA PORT QTY: 363 MT (15 X...
27    GARMENTS AND/OR ACCESSORIES (VESTUARIO E/OU AC...
28    TELECOMMUNICATION EQUIPMENT AS PER PROFORMA IN...
29    (PLUS OR MINUS 5 PCT) 500 MT OF DEFORMED STEEL...
30    DDS MOBILE CHARGNING MACHINE SPARE PARTS QUANT...
31    + COMMODITY: MAKROLON 2807 010131 (POLYCARBONA...
32       1123 Boxes of Tennis Sneakers marked Djoko 23
33                       /ADD/ Packed in wooden crates
34    3450 Wooden Crates filled with Blue Cheese Bot...
35    PLAQUES GRANITS. AS PER PROFORMA INVOICE NUMBE...
36    GARMENTS AND/OR ACCESSORIES (VESTUARIO E/OU AC...
37    SUPERMARKET EQUIPMENTS. ALL OTHER DETAILS ARE ...
38    100,000 Bottles ( +/- 05/05 %) of First Class ...
39    ARI-FABA BELLOW SEALED VALVES FOR OLEOHYDRAULI...
40    3358 PCS OF WEARING APPARELS AS PER ORDER REF....
Name: 0, dtype: object

1. remove null values
2. remove _x005F_x000D_

In [3]:
print(sum(raw_df.isna()))
raw_df.dropna(inplace=True)
print(sum(raw_df.isna()))

0
0

In [4]:
raw_df.head()

0    COPPER CLAD LAMINATE AS PER PROFORMA INVOICE N...
1    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
2    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
3    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S). + A...
4    LEATHER MEN'S AND/OR LEATHER LADIES' GARMENTS ...
Name: 0, dtype: object

In [5]:
df = raw_df.apply(lambda x: x.replace('_x005F_x000D_',''))

In [6]:
df_2 = df.apply(lambda x: x.replace('\n',' '))

In [7]:
df_2 = df_2.apply(lambda x: x.replace(':',' '))

In [8]:
df_2 = df_2.apply(lambda x: x.replace('+)',''))

In [9]:
# to remove 1- or 2- characters from numbering QTY
df_2 = df_2.apply(lambda x: re.sub('\d-', '', x))

In [10]:
# to remove (1) or (2) characters from numbering QTY
df_2 = df_2.apply(lambda x: re.sub('\(\d\)', '', x))

In [11]:
# to remove 1) or 2) characters from numbering QTY
df_2 = df_2.apply(lambda x: re.sub('\\d\)', '', x))

In [12]:
# to remove , followed by space from sentences, but not from numbers
df_2 = df_2.apply(lambda x: re.sub(',\s', '', x))

In [13]:
# to remove , followed by word from sentences, but not from numbers
df_2 = df_2.apply(lambda x: re.sub(',\w', '', x))

In [14]:
def remove_dot(x):
    pattern = '\w\.' # removes dots at the end of sentences... ex: "we went there." -> "we went there"
    finds = re.findall(pattern, x)
    for find in finds:
        x = re.sub(pattern, find[:-1], x)

    pattern_2 = '\.\w' # removes dots at the end of sentences. ex: "we went .there" -> "we went there"
    x = re.sub(pattern_2, '', x)

    pattern_3 = '\s\.\s' # removes dots at the end of sentences. ex: "abc . abc" -> "abc abc"
    x = re.sub(pattern_3, '', x)

    return x

df_2 = df_2.apply(remove_dot)

In [15]:
df_2 = df_2.apply(lambda x: x.replace(' - ',''))

In [16]:
df_2 = df_2.apply(lambda x: x.replace('++++++++++++++++++++++++++++++++++++',''))

In [17]:
df_2 = df_2.apply(lambda x: x.strip())

In [18]:
df_2.head(10)

0    COPPER CLAD LAMINATE AS PER PROFORMA INVOICE N...
1    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
2    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S) + AS...
3    + BRIDGESTONE BRAND TIRE(S) AND O-RING(S). + A...
4    LEATHER MEN'S AND/OR LEATHER LADIES' GARMENTS ...
5    LEATHER MEN'S AND/OR LEATHER LADIES' GARMENTS ...
6    QUANTITY 90000 M(+/-10 O/O) DESCRIPTION POLIES...
7    QUANTITY 90000 M(+/-10 O/O) DESCRIPTION POLIES...
8    TOYS AS PER PROFORMA INVOICE NO TSO1801008 ACC...
9    TOYS AS PER PROFORMA INVOICE NO TSO1801008 ACC...
Name: 0, dtype: object

In [19]:
df_2.to_csv('../../data/cleaned_dataset_append.csv', index=False, header=False)

EXW QTY: 496,800.00 KGS POLYESTER CHIPS BOTTLE GRADE (PET RESIN) GATRONOVA 'A 84' AT PKR: 159.00 PER KG PKR: 78,991,200 (WITHOUT SALES TAX) PLUS 17 PERCENT SALES TAX PKR: 13,428,504 MAKING TOTAL V...

https://github.com/floydhub/named-entity-recognition-template