In [35]:
import pandas as pd
import re

In [36]:
df = pd.read_csv('../../data/dataset_from_json_v2.csv')
df.head()

         words  sentence #               tag
0  BRIDGESTONE           0                 O
1        BRAND           0                 O
2      TIRE(S)           0  GoodsDescription
3          AND           0  GoodsDescription
4    O-RING(S)           0  GoodsDescription

In [37]:
df.iloc[115,:]

words         GREY
sentence #       5
tag              O
Name: 115, dtype: object

In [38]:
combine = lambda x: ' '.join(x['words'])

In [61]:
words = df.groupby(df['sentence #']).apply(combine)
words[0:10]

sentence #
0    BRIDGESTONE BRAND TIRE(S) AND O-RING(S) AS PER...
1    BRIDGESTONE BRAND TIRE(S) AND O-RING(S) AS PER...
2    BRIDGESTONE BRAND TIRE(S) AND O-RING(S). AS PE...
3    LEATHER MEN S AND/OR LEATHER LADIES GARMENTS U...
4    LEATHER MEN S AND/OR LEATHER LADIES GARMENTS U...
5    QUANTITY <QUANTITY> M(+/-10 O/O) DESCRIPTION P...
6    QUANTITY <QUANTITY> M(+/-10 O/O) DESCRIPTION P...
7    TOYS AS PER PROFORMA INVOICE NO TSO1801008 ACC...
8    TOYS AS PER PROFORMA INVOICE NO TSO1801008 ACC...
9    <QUANTITY> Boxes of Tennis Sneakers marked Djo...
dtype: object

In [40]:
# example
words[5]

'QUANTITY 90000 M(+/-10 O/O) DESCRIPTION POLIESTER SATIN FABRIC CODE 42250 GREY A7 GRADE PO N07929/10 CIF INCOTERMS 2010'

In [41]:
find_special = lambda x: '58/60' in x #'CFR KARACHI PORT/ PORT QASIM TOTAL QUANTITY 21 MT PARAFFIN WAX 58/60 FULLY REFINED AT USD 950.00 PER M/TON AS PER INDENT NO. SBR/DEPT.C/581/2019 DATED 19.11.19 OD M/S S.B.R. AND CO. KARACHI PAKISTAN'
find_special = lambda x: '950.00' in x 

specials = words[words.apply(find_special)]
specials

Series([], dtype: object)

In [42]:
# we need \S instead of \w because we have dates: 31.10.2019 which need to be extracted as a single entity

# EXAMPLE
# extract_containing_numbers = lambda x: re.findall(r'\d+\S+', x)
# extract_containing_numbers
# words.apply(extract_containing_numbers).tolist()

In [62]:
#extract the NUMBERS, INCOTERMS and DATES for better tokenisation
extract_numbers = lambda x: re.findall(r'\d+\S+', x)
list_words = words.apply(extract_numbers).tolist()
flat_list = [el for l in list_words for el in l]
flat_list[0:5]

['8ACA021X', '8ACA021X', '201', '8ACA021X', '201']

In [44]:
words
words.apply(extract_numbers).tolist()
len(flat_list)

235

In [45]:
numbers = set(flat_list)
numbers

# we now need to remove ONLY the . at the end
numbers = [n[:-1] if n[-1] == '.' else n for n in list(numbers)]
numbers[0:5]

['997', '10/MT', '794', '56', '77000/MT']

Now we need to classify them in 3 categories: 
1. \<number\> for Quantity and UnitPriceAmount example 2000
2. \<ID\> for INCOTERMS example 2019H29Q2
3. \<DATE\> for improved tokenisation

Why? We have a new date everyday, and if we include every day as another date in the vocabulary we might think eroneously that we have a large vocabulary, when in fact all we have is a lot of numbers, ids and dates.

In [46]:
nrs = pd.Series(numbers) #convert to Series for ease of use
nrs.head(), nrs.shape

(0         997
 1       10/MT
 2         794
 3          56
 4    77000/MT
 dtype: object,
 (156,))

I am speculating that

1. Quantity contains only Integer values: 1000, 200, 7000
2. UnitPriceAmount contains Float values: 250.00, 293.11
3. Dates have a specific type: xx/xx/xxxx or xx-xx-xxxx
4. Everything else is Incoterms

In [47]:
# Quantity
def convert_to_int(x):    
    try:
        int(x)
        return True
    except ValueError:
        return False

quantities = nrs.apply(convert_to_int)

In [48]:
# UnitPriceAmount
def convert_to_float(x):    
    try:
        if not convert_to_int(x):
            float(x)
        else:
            return False

        return True
    except ValueError:
        return False

units = nrs.apply(convert_to_float)

In [49]:
# Dates
def convert_to_ids(x):    
    try:
        is_date = re.findall('^\d{2}(\.|\/)\d{2}(\.|\/)\d{4}$', x)
        if len(is_date) == 0:
            return False
        else:
            return True
    except ValueError:
        return False

dates = nrs.apply(convert_to_ids)

In [50]:
nrs[dates]

14    04/12/2020
dtype: object

In [51]:
# the rest are incoterms
incoterms = ~quantities & ~units & ~dates
incoterms[0:5]

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [52]:
quantities.sum() + units.sum() + dates.sum() + incoterms.sum(), nrs.shape[0]

(156, 156)

In [53]:
nrs[quantities].tolist()[0:5]

['997', '794', '56', '796', '1461']

In [54]:
dictionary = {}

def append_to_dict(key, value):
    dictionary[key] = value


nrs[quantities].apply(append_to_dict, args=('<QUANTITY>',))
nrs[units].apply(append_to_dict, args=('<UNITPRICEAMOUNT>',))
nrs[dates].apply(append_to_dict, args=('<DATE>',))
nrs[incoterms].apply(append_to_dict, args=('<INCOTERMS>',));

In [55]:
dictionary

{'997': '<QUANTITY>',
 '794': '<QUANTITY>',
 '56': '<QUANTITY>',
 '796': '<QUANTITY>',
 '1461': '<QUANTITY>',
 '23': '<QUANTITY>',
 '518': '<QUANTITY>',
 '00': '<QUANTITY>',
 '2000': '<QUANTITY>',
 '06': '<QUANTITY>',
 '010131': '<QUANTITY>',
 '16': '<QUANTITY>',
 '374340000': '<QUANTITY>',
 '45': '<QUANTITY>',
 '3358': '<QUANTITY>',
 '392860': '<QUANTITY>',
 '26': '<QUANTITY>',
 '25': '<QUANTITY>',
 '2014': '<QUANTITY>',
 '60': '<QUANTITY>',
 '85': '<QUANTITY>',
 '2050': '<QUANTITY>',
 '506': '<QUANTITY>',
 '112': '<QUANTITY>',
 '115168': '<QUANTITY>',
 '00122': '<QUANTITY>',
 '788': '<QUANTITY>',
 '173': '<QUANTITY>',
 '555': '<QUANTITY>',
 '515': '<QUANTITY>',
 '6300': '<QUANTITY>',
 '787': '<QUANTITY>',
 '446': '<QUANTITY>',
 '2010': '<QUANTITY>',
 '1123': '<QUANTITY>',
 '396': '<QUANTITY>',
 '3000': '<QUANTITY>',
 '5800': '<QUANTITY>',
 '100': '<QUANTITY>',
 '1801008': '<QUANTITY>',
 '2017': '<QUANTITY>',
 '985': '<QUANTITY>',
 '000': '<QUANTITY>',
 '13032014': '<QUANTITY>',
 '508': '<QUANTITY>',
 '18': '<QUANTITY>',
 '792': '<QUANTITY>',
 '80': '<QUANTITY>',
 '202': '<QUANTITY>',
 '363': '<QUANTITY>',
 '04': '<QUANTITY>',
 '10000103': '<QUANTITY>',
 '517': '<QUANTITY>',
 '42250': '<QUANTITY>',
 '15': '<QUANTITY>',
 '500000': '<QUANTITY>',
 '514': '<QUANTITY>',
 '110164': '<QUANTITY>',
 '201801012': '<QUANTITY>',
 '790': '<QUANTITY>',
 '4850': '<QUANTITY>',
 '200000': '<QUANTITY>',
 '9850': '<QUANTITY>',
 '67': '<QUANTITY>',
 '510': '<QUANTITY>',
 '50': '<QUANTITY>',
 '141613456': '<QUANTITY>',
 '96': '<QUANTITY>',
 '141': '<QUANTITY>',
 '500': '<QUANTITY>',
 '2807': '<QUANTITY>',
 '288': '<QUANTITY>',
 '2021': '<QUANTITY>',
 '200': '<QUANTITY>',
 '1345': '<QUANTITY>',
 '505': '<QUANTITY>',
 '4571': '<QUANTITY>',
 '11012014': '<QUANTITY>',
 '20': '<QUANTITY>',
 '65537': '<QUANTITY>',
 '3450': '<QUANTITY>',
 '201': '<QUANTITY>',
 '99589': '<QUANTITY>',
 '10': '<QUANTITY>',
 '90000': '<QUANTITY>',
 '392880': '<QUANTITY>',
 '281819': '<QUANTITY>',
 '22': '<QUANTITY>',
 '141613462': '<QUANTITY>',
 '392890': '<QUANTITY>',
 '04/12/2020': '<DATE>',
 '10/MT': '<INCOTERMS>',
 '77000/MT': '<INCOTERMS>',
 '05/07/17': '<INCOTERMS>',
 '956934/OS': '<INCOTERMS>',
 '220MT': '<INCOTERMS>',
 '0/MT': '<INCOTERMS>',
 '1N0N2018': '<INCOTERMS>',
 '17N41/NN': '<INCOTERMS>',
 '0O00': '<INCOTERMS>',
 '05/05': '<INCOTERMS>',
 '0IF': '<INCOTERMS>',
 '7N29/NO': '<INCOTERMS>',
 '116/14': '<INCOTERMS>',
 '500KGS/PALLET': '<INCOTERMS>',
 '25TH': '<INCOTERMS>',
 '07929/10': '<INCOTERMS>',
 '00123/': '<INCOTERMS>',
 '1N046': '<INCOTERMS>',
 '13N62/NO': '<INCOTERMS>',
 '5PCT)': '<INCOTERMS>',
 '50KG': '<INCOTERMS>',
 '01/07/17': '<INCOTERMS>',
 '3N0N2018': '<INCOTERMS>',
 '126223/2009': '<INCOTERMS>',
 '1X40HC': '<INCOTERMS>',
 '19R4038': '<INCOTERMS>',
 '05/06/17': '<INCOTERMS>',
 '200MT': '<INCOTERMS>',
 '2007/KT/20O': '<INCOTERMS>',
 '17/07/17': '<INCOTERMS>',
 '00METRIC': '<INCOTERMS>',
 '25KGS/PE-BAG-1': '<INCOTERMS>',
 '00PCS': '<INCOTERMS>',
 '9O5': '<INCOTERMS>',
 '11214TS00010': '<INCOTERMS>',
 '1500MT': '<INCOTERMS>',
 '007/2019': '<INCOTERMS>',
 '2010DAT': '<INCOTERMS>',
 '1PCT': '<INCOTERMS>',
 '5200(+/-5PCT)': '<INCOTERMS>',
 '87O00': '<INCOTERMS>',
 '5TH': '<INCOTERMS>',
 '2018/19': '<INCOTERMS>',
 '43O34/MT': '<INCOTERMS>',
 '223/KG': '<INCOTERMS>',
 '38X38CM': '<INCOTERMS>',
 '23/11/202S': '<INCOTERMS>',
 '08/FW17': '<INCOTERMS>',
 '0O0O2014': '<INCOTERMS>',
 '2038/MT': '<INCOTERMS>',
 '2831/00': '<INCOTERMS>',
 '08/06/17': '<INCOTERMS>',
 '46C00': '<INCOTERMS>',
 '9O99': '<INCOTERMS>',
 '8ACA021X': '<INCOTERMS>',
 '4TH': '<INCOTERMS>',
 '19R4170': '<INCOTERMS>',
 '77000/MTDELIVERY': '<INCOTERMS>',
 '3S-S400W': '<INCOTERMS>',
 '00M/T': '<INCOTERMS>',
 '51C00': '<INCOTERMS>',
 '24MTS)': '<INCOTERMS>',
 '200O': '<INCOTERMS>',
 '9C': '<INCOTERMS>',
 '00121/': '<INCOTERMS>'}

In [56]:
# now we need to map through the dataset and change the values.

def mapping(word):
    if word in dictionary.keys():
        return dictionary[word]
    return word

df['new_mappings'] = df['words'].apply(mapping)

In [57]:
df[(df['words'] != df['new_mappings'])]

         words  sentence # tag new_mappings
15          22           0   O   <QUANTITY>
17        2017           0   O   <QUANTITY>
34          22           1   O   <QUANTITY>
36        2017           1   O   <QUANTITY>
52          22           2   O   <QUANTITY>
...        ...         ...  ..          ...
1478       788          39   O   <QUANTITY>
1479       790          39   O   <QUANTITY>
1480       792          39   O   <QUANTITY>
1482  17/07/17          39   O  <INCOTERMS>
1487       796          39   O   <QUANTITY>

[192 rows x 4 columns]

In [58]:
del df['words']

In [59]:
df = df.rename(columns={'new_mappings':'words'})
df

      sentence #               tag        words
0              0                 O  BRIDGESTONE
1              0                 O        BRAND
2              0  GoodsDescription      TIRE(S)
3              0  GoodsDescription          AND
4              0  GoodsDescription    O-RING(S)
...          ...               ...          ...
1483          39         Incoterms         HONG
1484          39         Incoterms         KONG
1485          39                 O        ORDER
1486          39                 O           NF
1487          39                 O   <QUANTITY>

[1488 rows x 3 columns]

In [60]:
cols = ['words', 'sentence #', 'tag']
df[cols].to_csv('../../data/dataset_from_json_smaller_vocab_v2.csv')